<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>language</key>
		<string>العربية</string>
		<key>path</key>
		<string>ar</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Català</string>
		<key>path</key>
		<string>ca</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Česky</string>
		<key>path</key>
		<string>cs</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Dansk</string>
		<key>path</key>
		<string>da</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Deutsch</string>
		<key>path</key>
		<string>de</string>
	</dict>
	<dict>
		<key>language</key>
		<string>English</string>
		<key>path</key>
		<string>en</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Español</string>
		<key>path</key>
		<string>es</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Esperanto</string>
		<key>path</key>
		<string>eo</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Français</string>
		<key>path</key>
		<string>fr</string>
	</dict>
	<dict>
		<key>language</key>
		<string>한국어</string>
		<key>path</key>
		<string>ko</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Bahasa Indonesia</string>
		<key>path</key>
		<string>id</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Italiano</string>
		<key>path</key>
		<string>it</string>
	</dict>
	<dict>
		<key>language</key>
		<string>עברית</string>
		<key>path</key>
		<string>he</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Lietuvių</string>
		<key>path</key>
		<string>lt</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Magyar</string>
		<key>path</key>
		<string>hu</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Nederlands</string>
		<key>path</key>
		<string>nl</string>
	</dict>
	<dict>
		<key>language</key>
		<string>日本語</string>
		<key>path</key>
		<string>ja</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Norsk (bokmål)</string>
		<key>path</key>
		<string>no</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Polski</string>
		<key>path</key>
		<string>pl</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Português</string>
		<key>path</key>
		<string>pt</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Română</string>
		<key>path</key>
		<string>ro</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Русский</string>
		<key>path</key>
		<string>ru</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Slovenčina</string>
		<key>path</key>
		<string>sk</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Српски / Srpski</string>
		<key>path</key>
		<string>sr</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Suomi</string>
		<key>path</key>
		<string>fi</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Svenska</string>
		<key>path</key>
		<string>sv</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Türkçe</string>
		<key>path</key>
		<string>tr</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Українська</string>
		<key>path</key>
		<string>uk</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Tiếng Việt</string>
		<key>path</key>
		<string>vi</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Volapük</string>
		<key>path</key>
		<string>vo</string>
	</dict>
	<dict>
		<key>language</key>
		<string>中文</string>
		<key>path</key>
		<string>zh</string>
	</dict>
</array>
</plist>
